.caution-banner {
  position: sticky;
  display: block;
  width: 100vw;
  margin: 0px;
  border: none;
  padding: 3px;
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-family: var(--menu-font);
}
#close-caution-banner-btn {
  display: inline-flex;
  border-radius: 100%;
  border: none;
  background: white;
  padding: 0%;
  margin: 0%;
}
.content {
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cards {
  margin-left: 2rem;
  width: fit-content;
}
.card {
  max-width: 320px;
  min-width: 150px;
  padding: 0;
  width: fit-content;
}
.card-wrapper {
  display: inline-flex;
  border-radius: 30px;
  overflow: hidden;
}
.master-card {
  margin: 0;
  padding-left: 2rem;
  padding-right: 0rem;
  position: relative;
}
.visa-card {
  position: absolute;
  left: 75%;
  bottom: 5%;
}
.info-block {
  margin-left: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  min-width: 150px;
  border-radius: 25px;
  height: fit-content;
  align-self: center;
}
.get-started {
  margin: 0rem auto;
  display: block;
  width: max-content;
  color: orange;
  background: white;
  opacity: 100%;
  text-decoration: none;
  padding: 0.5rem;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.4rem gray;
  font-family: var(--element-font);
  font-size: 2.1rem;
}
.get-started:hover {
  background: orange;
  color: white;
}
.slogan {
  font-family: var(--header-font);
  font-size: 2.2rem;
  padding: 0;
  margin: 1rem 0rem;
  color: rgb(236, 108, 3);
}
span {
  display: inline-block;
  background-color: rgb(4, 19, 148);
  transform: skew(-15deg);
  color: white;
  font-size: 1.3rem;
  padding: 0.8rem 0.5rem;
  box-shadow: 0.3rem 0.2rem 0.3rem rgb(10, 3, 3);
  font-family: var(--element-font);
  margin: 0rem 0.2rem;
}
p {
  padding: 0;
  margin: 1rem 0rem;
  font-family: var(--menu-font);
  font-size: 1.2rem;
}
h2 {
  padding: 0;
  margin: 1rem 0rem;
  font-family: var(--menu-font);
  font-size: 1.2rem;
  font-weight: 500;
}
