.register-content {
  width: 100%;
  margin-left: 3rem;
}
h4 {
  color: rgb(136, 138, 167);
  margin: 1.5rem 0 1rem 0;
  font-size: 1.3rem;
}
h1 {
  color: white;
  margin: 1rem 0;
  font-family: var(--header-font);
  font-size: 1.8rem;
}
h5 {
  color: rgb(127, 137, 154);
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
.orange-des {
  margin: 0;
  color: orange;
  font-size: 2.5rem;
}
.span-orange {
  color: orange;
  text-decoration: none;
}
.register-form {
  width: 33%;
  display: grid;
  grid-column-gap: 0.5rem;
}

select {
  background-color: orange;
  outline: none;
  width: 100%;
  margin: 0.5rem 0 0 0;
  padding: 0.3rem;
  border-radius: 10px;
}
.card-option {
  color: black;
  outline: none;
}

.form-field {
  font-family: var(--text-font);
  background-color: rgb(38, 42, 52);
  border-radius: 15px;
  margin: 0.3rem 0rem;
  padding: 0.3rem 0rem;
}

.form-field label {
  color: rgb(127, 137, 154);
  font-size: 1rem;
  margin: 0rem 0.5rem;
  padding: 0;
}
.form-field img {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 1.5rem;
}
.label-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-name-f {
  grid-column-start: 1;
  grid-column-end: 2;
}
.l-name-f {
  grid-column-start: 3;
  grid-column-end: 4;
}
.full-width--fields {
  display: block;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
}
.form-field input {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  background-color: rgb(38, 42, 52);
  border: none;
  color: white;
  cursor: inherit;
  outline: none;
  caret: white;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.input-wrapper {
  margin: 0.2rem;
}
.border-focus {
  border: 0.1rem solid orange;
}

.password-validation {
  display: inline-flex;
  padding: 0rem;
  grid-column-start: 1;
  grid-column-end: 4;
  color: red;
  background-color: rgba(255, 255, 255, 0.85);
  border: 0.2rem solid red;
  border-radius: 15px;
}
.incorrect-img--sign {
  width: 1.5rem;
  align-items: flex-start;
  margin: 0rem 0.2rem;
}
.password-validation p {
  margin: 0.2rem;
  font-family: var(--menu-font);
}
.create-acc--btn {
  align-self: center;
  background-color: orange;
  color: white;
  border-radius: 15px;
  margin: 1rem 0rem;
  padding: 0.5rem;
  display: block;
  box-shadow: 0.3rem 0.3rem 0.4rem gray;
  font-family: var(--element-font);
  font-size: 1.5rem;
}
.create-acc--btn:hover {
  background: orange;
  color: white;
}
.success-reg--message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.success-sign {
  width: 3rem;
}
.success-reg--message h3 {
  color: rgb(127, 137, 154);
  margin: 0.5rem 0;
  font-size: 2rem;
  font-family: var(--header-font);
}
.success-reg--message h4 {
  color: rgb(136, 138, 167);
  margin: 1rem;
  font-family: var(--element-font);
  font-size: 1.3rem;
}
