.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.privacy-policy--block {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  border-radius: 15px;
  background-color: rgba(182, 181, 179, 0.85);
  width: 60%;
}
.policy-box--photo {
  padding: 0;
  object-fit: cover;
}
.policy-box--text {
  padding: 1rem;
  max-width: 0;
  display: flex;
  flex-direction: column;
}
