:root {
  --background-mode: rgba(128, 126, 126, 0.664);
}
body {
  margin: 0;
  padding: 0;
}
.content {
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  margin: 1.5rem;
}
.bank-cards--block {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.promo-text--wrapper {
  margin: 0 2rem;
}
.promoted-card--wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 15rem;
  border-radius: 15px;
  background-image: url(../img/promo-card--cover.png);
  background-size: cover;
}

.promo-text--wrapper h3 {
  margin: 2rem;
  font-size: 3rem;
  color: white;
  font-family: var(--element-font);
}
.promo-text--wrapper h5 {
  margin: 2rem;
  font-size: 1.3rem;
  color: white;
  font-family: var(--element-font);
}
.promo-card--btn {
  color: white;
  background-color: rgb(1, 1, 22);
  border-radius: 15px;
  margin: 0rem 4rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-family: var(--element-font);
}
.promo-card--btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(1, 1, 22);
}

.bank-cards--title {
  padding: 1rem;
}
.bank-cards--title h2 {
  font-size: 2.4rem;
  margin: 1rem 3rem;
  font-family: var(--element-font);
}
.bank-cards--title h3 {
  font-size: 1.5rem;
  color: rgb(85, 79, 79);
  margin: 1rem 3rem;
  font-family: var(--element-font);
}
/* cards */
.debit-cards {
  margin: 3rem 0rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  background-color: var(--background-mode);
}
.debit-card--wrapper {
  background-color: whitesmoke;
  justify-content: center;
  align-content: center;
  width: 18%;
  border: 0.1rem solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.debit-card--img {
  margin: 1rem auto;
  padding: 0.8rem;
  background-color: gainsboro;
  border-radius: 10px;
}
.debit-card--img img {
  width: 11rem;
}
.debit-card--info {
  margin: 0.5rem 1rem;
  padding: 0.2rem;
}
.debit-card--info h4 {
  margin: 0.2rem;
  font-size: 1.3rem;
  font-family: var(--element-font);
}
.debit-card--info h5 {
  margin: 0.2rem;
  font-size: 0.9rem;
  color: gray;
  font-family: var(--element-font);
}
.learn-more--btn {
  align-self: center;
  border: none;
  margin: 0.5rem;
  margin-top: auto;
  font-size: 1.1rem;
  font-family: var(--element-font);
  color: orange;
}
.learn-more--btn:hover {
  cursor: pointer;
  color: red;
}
/* cards info */
.more-info--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-details--wrapper {
  font-family: var(--element-font);
  background-color: rgba(255, 255, 255, 0.596);
  width: 70%;
  padding: 2rem 6rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details-title {
  font-size: 1.5rem;
  margin: 1rem 0.3rem;
}
.card-details--content {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: 60%;
}
.card-bonus--block {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.card-bonus {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  align-items: center;
  margin: 0;
}
.card-bonus h5 {
  padding: 0.2rem;
  margin: 0;
  font-size: 1rem;
}
.card-img--detail {
  width: 40%;
  margin: auto 0;
}
.card-img--detail img {
  width: 100%;
}
.tick-img img {
  width: 1.5rem;
  margin: 0rem 0.3rem;
  padding: 0;
}
.get-card--btn {
  height: 10%;
}
.get-card--btn a {
  text-decoration: none;
  border: none;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 0.4rem 1.3rem;
  font-family: var(--element-font);
  color: orange;
  background-color: rgb(5, 39, 90);
}
.get-card--btn a:hover {
  cursor: pointer;
  background-color: orange;
  color: rgb(5, 39, 90);
}
/* slider */

.slider {
  align-self: center;
  overflow: hidden;
  margin: 2rem auto;
  padding: 0;
  position: relative;
  width: 60%;
  height: 20rem;
}
.slide {
  font-family: var(--element-font);
  position: absolute;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: var(--background-mode);
  border-radius: 25px;
  transition: transform 1s;
}
.quotes {
  width: 3rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.slider-top {
  color: white;
  padding: 1rem;
  margin: 0.5rem 3rem;
  box-sizing: content-box;
  position: relative;
  height: max-content;
}
.slider-top h3 {
  margin: 1rem 0.5rem;
  padding: 0.3rem 4rem 0.3rem 0.3rem;
  font-size: 2rem;
}
.slider-top p {
  margin: 0.5rem;
  padding: 0.5rem;
  max-width: 80%;
  font-size: 1.1rem;
}
.slider-bottom {
  padding: 0;
  margin: 0;
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.img-name--model {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.client-name {
  margin: 0.5 0 0.5rem 0;
}
.client-name h4 {
  margin: 0 0 0 0.5rem;
}
.client-name p {
  margin: 0.2rem 0 0 0.5rem;
}
.testimonial-photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0 0.3rem 0.5rem 0;
  object-fit: cover;
}
.star-rate {
  height: 1.5rem;
  margin: 0.3rem;
}
.arrows {
  align-items: center;
}
.arrows-slider {
  margin: 0.1rem;
  background-color: white;
  border-radius: 45px;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.arrows-slider img {
  padding: 8px;
}
.arrow-right--slider {
  right: 0;
  transform: translate(-6%, -50%);
}
.arrow-left--slider {
  left: 0;
  transform: translate(6%, -50%);
}

/*responsive design*/
@media (max-width: 1260px) {
  .debit-card--wrapper {
    width: 15rem;
  }
}
@media (max-width: 950px) {
  .promo-text--wrapper h3 {
    font-size: 2.2rem;
  }
  .bank-cards--title h3 {
    font-size: 1.5rem;
  }
  .debit-card--img img {
    width: 8rem;
  }
  .get-card--btn a {
    font-size: 1rem;
  }
  .get-card--btn {
    margin: 0.5rem;
  }
  .card-details--wrapper {
    padding: 1rem;
  }
  .slider {
    height: 25rem;
  }
  .slider-top {
    padding: 0 1rem;
    margin: 0;
  }
  .slider-top p {
    padding: 0;
    margin: 0;
  }
  .slider-bottom {
    padding: 2.5rem;
  }
}
@media (max-width: 750px) {
  .debit-card--wrapper {
    width: 20rem;
  }
  .debit-card--img img {
    width: 10rem;
  }
  .debit-cards {
    display: grid;
    row-gap: 0.5rem;
    grid-template-areas: "a a" "a a";
  }
  .card-details--wrapper {
    width: 95%;
  }
  .promo-text--wrapper {
    margin: 1rem;
  }
  .promo-text--wrapper h5 {
    font-size: 1rem;
    width: 40%;
    margin-bottom: 0;
  }
  .debit-cards {
    margin: 1rem 0;
    padding: 0.5rem;
  }
}
@media (max-width: 680px) {
  .debit-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .debit-card--wrapper {
    width: 80%;
  }
  .card-details--wrapper {
    width: 95%;
  }

  .debit-card--img {
    margin: 0.5rem auto;
  }

  .debit-card--info h4 {
    margin: 0 1rem;
  }
  .debit-card--info h5 {
    margin: 0 1rem 0.5rem 1rem;
  }
  .learn-more--btn {
    margin-bottom: 1rem;
  }
  .bank-cards--title h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 400px) {
  .promo-text--wrapper h3 {
    font-size: 1.5rem;
  }
  .promoted-card--wrapper {
    background-position: 50%, 35%;
  }
  .promo-text--wrapper {
    margin: 0;
  }
  .promo-card--btn {
    margin: 1.8rem;
    font-size: 0.9rem;
  }
  .bank-cards--title h2 {
    margin: 0;
    padding: 1rem 0.5rem;
  }
  .bank-cards--title h3 {
    margin: 0;
    padding: 0.5rem;
  }
  .debit-cards {
    padding: 0.5rem 0;
  }
  .debit-card--wrapper {
    margin: 0.5rem 0;
  }
  .card-details--content {
    margin: 0rem;
    width: fit-content;
  }
  .details-title {
    margin: 0.3rem;
    align-self: center;
  }
  .card-bonus--block {
    margin: 0;
    width: fit-content;
  }
  .card-bonus {
    padding: 0.3rem 0;
    width: 100%;
  }
  .card-bonus h5 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .tick-img {
    align-self: flex-start;
  }
  .card-img--detail {
    align-self: center;
  }
  .card-details--wrapper {
    flex-direction: column-reverse;
  }
}
@media (max-width: 400px) {
  .content {
    margin: 0.5rem;
  }
  .debit-card--wrapper {
    width: 99%;
    margin: 0.2rem 0;
  }
  .promoted-card--wrapper {
    width: 99%;
  }
  .card-img--detail {
    width: 100%;
  }
}
