:root {
  --menu-font: "Cairo", sans-serif;
  --header-font: "Playfair Display SC", serif;
  --text-font: "Lato", sans-serif;
  --element-font: "Dosis", sans-serif;
}
* {
  margin: 0;
}
body {
  background-color: rgba(23, 23, 27, 0.95);
}
.user-display {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.user-menu {
  display: flex;
  flex-direction: column;
}
.user-menu--list {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-menu--li {
  display: flex;
  margin: 1rem 0rem;
  text-decoration: none;
  color: rgb(127, 137, 154);
}
.user-menu--li:hover {
  color: white;
}
.main-content {
  background-color: rgb(17, 18, 19);
  border-radius: 25px;
  margin: 0 1rem;
}
.user-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.greeting {
  color: white;
  margin: 1rem auto;
}
.bank-logo {
  width: 10rem;
}
.log-out--btn {
  background-color: white;
  margin: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  border: 0.2rem rgba(0, 0, 0, 0.499) solid;
  color: black;
  font-family: var(--element-font);
  font-size: 1.5rem;
  box-shadow: 0.3rem 0.6rem 0.4rem rgba(159, 151, 151, 0.365);
}
.log-out--btn:hover {
  background-color: orange;
  color: white;
}
.box-style {
  background-color: rgb(13, 14, 15);
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.5rem;
}
.log-out--timer h5 {
  color: white;
  font-weight: 200;
}
.timer {
  color: white;
  font-weight: 800;
}
