:root {
  --menu-font: "Cairo", sans-serif;
  --header-font: "Playfair Display SC", serif;
  --text-font: "Lato", sans-serif;
  --element-font: "Dosis", sans-serif;
  --green-color: rgb(36, 161, 117);
  --orange-color: #ff5e00;
  --gray-color: rgb(202, 200, 199);
  --menu-color: rgb(23, 23, 27);
  --main-block: rgb(13, 14, 15);
  --small-block: rgb(67, 67, 68);
  --form-msg: rgb(255, 255, 255);
  --field-color: rgb(165, 178, 202);
}
* {
  margin: 0;
}
body {
  background-color: rgba(16, 16, 19, 0.95);
}
.user-display {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.user-menu {
  display: flex;
  flex-direction: column;
}
.user-menu--list {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-menu--li {
  display: flex;
  margin: 1rem 0rem;
  text-decoration: none;
  color: var(--field-color);
  font-family: var(--menu-font);
  font-size: 1.1rem;
}
.user-menu--li:hover {
  color: var(--orange-color);
}
.main-content {
  background-color: rgb(38, 40, 41);
  border-radius: 25px;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}
.user-content {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.content-space {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.5rem 0rem 0.5rem 1rem;
}
.user-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-info {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem 0.5rem 0;
  background-color: var(--main-block);
  border-radius: 15px;
}
.greeting {
  font-family: var(--menu-font);
  font-size: 1.25rem;
  color: white;
  padding: 0.5rem;
  margin: 1.5rem 0 0.5rem 0.5rem;
}
.bank-logo {
  width: 11rem;
}
.log-out--btn {
  background-color: white;
  margin: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  border: 0.2rem rgba(0, 0, 0, 0.499) solid;
  color: black;
  font-family: var(--element-font);
  font-size: 1.5rem;
  box-shadow: 0.3rem 0.6rem 0.4rem rgba(159, 151, 151, 0.365);
}

.log-out--btn:hover {
  background-color: orange;
  color: white;
}
.box-style {
  display: flex;
  background-color: var(--small-block);
  color: white;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 0.9rem;
  font-family: var(--menu-font);
  justify-content: center;
}
.log-timer {
  font-family: var(--menu-font);
  font-size: 0.9rem;
}
/* geolocation style */

/* main user content styles */
/* transactions */
.transactions {
  display: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.transaction {
  margin: 0.3rem;
  padding: 0.3rem;
  font-family: var(--element-font);
  display: flex;
  flex-direction: row;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}
.transaction-group {
  background-color: grey;
  border-radius: 3px;
  width: 3rem;
  margin: 0.3rem;
}

.oper-group__img {
  padding: 0.2rem;
  margin: 0;
  width: 2.5rem;
  align-self: center;
}
.transaction-name--date__block {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.transaction--date {
  color: grey;
  font-size: 0.8rem;
  text-align: center;
}

.withdrawal {
  color: red;
  border: 0.3rem solid red;
}
.deposit {
  border: 0.3rem solid green;
  color: green;
}
.transaction-amount {
  display: flex;
  flex-flow: right;
}
/* CARDS ZONE */
.no-transactions__block {
  display: flex;
  background-color: var(--orange-color);
  margin: 0.8rem;
  padding: 0.5rem;
  color: white;
  font-size: 1.1rem;
  font-family: var(--text-font);
}
.user-cards__zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-cards-info {
  display: flex;
  flex-direction: column;
}
.total-card__info {
  margin: 0.5rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 55%;
}
.card-info__block {
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-family: var(--menu-font);
  color: var(--field-color);
}
.balance-info__block {
  font-family: var(--menu-font);
  font-size: 0.9rem;
  color: white;
  margin: 0;
}
.card-wrapper {
  margin: 0 0.5rem 0 0;
}
.card-number {
  margin: 0;
}
.card-plan {
  margin: 0;
}
.expiry-date {
  margin: 0;
}
.transactions-init {
  margin: 0.5rem 0;
  color: var(--gray-color);
  text-decoration: underline;
  font-size: 1.1rem;
}
.transactions-init:hover {
  color: var(--orange-color);
  cursor: pointer;
}
.user-card__img {
  width: 8rem;
  align-self: flex-start;
}
.user-card__img:hover {
  cursor: pointer;
  border: white 1px solid;
  border-radius: 15px;
}
/* checkbox */
.sorted-btns {
  display: flex;
  flex-direction: row;
  color: var(--field-color);
  font-size: 1rem;
  font-family: var(--menu-font);
}
.sorted-btn {
  display: block;
  position: relative;
  margin: 0.2rem;
  padding-left: 1.3rem;
}

.sorting-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* Create new card */
.creation {
  margin: 1.5rem;
  color: orange;
  background-color: white;
  padding: 0.5rem;
  justify-content: center;
  font-size: 1.2rem;
  font-family: var(--menu-font);
  width: fit-content;
}
.creation:hover {
  cursor: pointer;
  color: white;
  background-color: var(--orange-color);
}
.waiting-block {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  padding: 0.5rem;
}
.waiting-sign {
  font-size: 1.3rem;
}

/* Savings */
.total-savings--balance--wrapper {
  font-family: var(--menu-font);
  margin: 0.5rem;
  font-size: 1.1rem;
}
.savings-block {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
}
.manage-wrapper {
  color: white;
}
.manage-sav--btn {
  font-family: var(--element-font);
  margin: 0.5rem;
  font-size: 1.3rem;
}
.manage-sav--btn:hover {
  cursor: pointer;
  color: orange;
  text-decoration: underline;
}
.manage-sav {
  margin: 0.8rem;
  font-size: 1rem;
  font-family: var(--element-font);
}
.manage-sav:hover {
  cursor: pointer;
  color: orange;
}
.categories-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
  border-radius: 15px;
  align-items: center;
}
.all-savings--categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.category {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  justify-content: space-around;
}
.saving-category__img {
  width: 5rem;
  background-color: aliceblue;
  border: 0.2rem solid black;
  border-radius: 10px;
}

.saving-category__name {
  font-family: var(--element-font);
  text-align: center;
}
.saving-category__img:hover {
  cursor: grab;
  width: 3.5rem;
  padding: 0.5rem;
}
.total-savings--balance {
  color: white;
}
.saving-balance--wrapper {
  margin-top: 1rem;
}
.saving-balance {
  padding: 0.5rem;
  color: white;
  font-size: 1.1rem;
  font-family: var(--menu-font);
}
.show-all-sav--btn {
  align-self: flex-end;
  font-family: var(--element-font);
  font-size: 1.1rem;
  margin: 0.5rem 1rem;
}
.show-all-sav--btn h4 {
  text-decoration: underline;
}
.show-all-sav--btn h4:hover {
  color: var(--orange-color);
  cursor: pointer;
}
/* radio buttons */
.sorted-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio {
  cursor: pointer;
}
.radio:checked ~ .checkmark {
  background-color: orange;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  border-radius: 50%;
  background: white;
}
.radio:checked ~ .checkmark:after {
  display: block;
}

/* create new saving */

.new-saving--category__img {
  margin: 0.3rem;
  width: 4rem;
  background-color: aliceblue;
  border: 0.2rem solid black;
  border-radius: 10px;
}

[type="radio"]:checked + img {
  border: 0.2rem solid orange;
  border-radius: 15px;
}

/* form styles */
.cards-types--form[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
}
.main-form--style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.fields-wrapper--style {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(61, 60, 60);
}
.form-field--wrapper {
  background-color: rgb(99, 101, 102);
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.2rem;
  display: flex;
  flex-direction: row;
  width: 95%;
  align-self: center;
  height: fit-content;
  min-height: 3rem;
}
.form-element-label {
  display: flex;
  align-content: center;
  color: var(--field-color);
  padding: 0.3rem;
  margin: 0.2rem auto;
  font-size: 1.1rem;
  font-family: var(--element-font);
  align-self: center;
}
.form-element--value {
  border: none;
  border-radius: 10px;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  margin: 0.3rem;
  font-family: var(--menu-font);
  font-size: 0.9rem;
  padding: 0.1rem;
}
.form-title {
  font-size: 1.2rem;
  padding: 0.7rem;
  font-family: var(--element-font);
  color: rgb(255, 255, 255);
}
.cards-in_form__wrapper {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-size: 0.9rem;
}
.form-btns--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-btn {
  width: 8rem;
  height: 1.8rem;
  outline: 0;
  background-color: white;
  text-decoration: none;
  padding: 0.6rem auto;
  margin: 0.3rem;
  border: none;
  border-radius: 10px;
  color: black;
  font-family: var(--element-font);
  font-size: 1rem;
}
.form-btn:hover {
  cursor: pointer;
  background-color: var(--orange-color);
  color: white;
}
.error--wrapper {
  display: flex;
  flex-direction: column;
}
.error-field {
  margin: 0.8rem;
  color: var(--orange-color);
  font-size: 1.2rem;
}
.waiting-block--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.waiting-block--wrapper h5 {
  color: var(--green-color);
  font-family: var(--element-font);
  font-size: 1.4rem;
  margin: 0.8rem;
}

.result-wrapper {
  display: flex;
  margin: 1rem;
  padding: 0.5rem;
  justify-content: center;
}
.success-result-msg {
  color: var(--green-color);
  font-size: 1.4rem;
  font-family: var(--element-font);
  margin: 0.5rem;
}
.unsuccesful-card--pending {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}
.unsuccess-result-msg {
  width: 80%;
  color: var(--orange-color);
  font-family: var(--element-font);
  font-size: 1.2rem;
}
.success-sign {
  width: 2rem;
}
.close-unsuccesful--msg img {
  background-color: white;
  border-radius: 50%;
}

/* estra classes */
.orange-text {
  color: var(--orange-color);
  border-radius: 15px;
}
.menu-highlighted {
  color: var(--orange-color);
  justify-content: center;
}
.highlighted {
  background-color: aliceblue;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}
.hidden {
  margin: 0;
  display: none;
}
.content-wrapper {
  border-radius: 15px;
  margin: 0.3rem;
  padding: 1rem;
  width: 95%;
  background-color: rgb(63, 63, 64);
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: solid 5px white;
  border-radius: 50%;
  border-bottom-color: rgba(0, 0, 0, 0.562);
  animation: linear 1.5s infinite load;
  will-change: transform;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* responsive styles */
@media (max-width: 1200px) {
  .user-menu--list {
    padding: 0.5rem;
  }
  .main-content {
    margin: 0 0.5rem;
  }
  .greeting {
    margin: 0.5rem 0;
  }
  .content-space {
    margin-left: 0;
  }
  /* home */
  .total-card__info {
    width: 100%;
  }
  .user-card {
    width: 70%;
    justify-content: space-between;
  }
  .card-info__block {
    padding: 0 1rem;
  }
  .card-wrapper {
    margin: 0;
  }
  .close-unsuccesful--msg img {
    width: 2rem;
  }
  .unsuccess-result-msg {
    width: 90%;
  }
  /* loan */
  .form-field--wrapper {
    align-items: center;
  }
  .form-element-label {
    width: 40%;
    margin: 1rem;
  }
  input,
  select {
    margin: auto;
    height: 2rem;
  }
  .form-element--value {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cards-in_form__wrapper {
    margin: 0.3rem;
  }
  /* savings */
  .transaction {
    margin: 0.5rem auto;
    width: 60%;
  }
}
@media (max-width: 950px) {
  .log-out--btn {
    font-size: 1.2rem;
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(159, 151, 151, 0.365);
  }
  .user-info {
    margin: 0;
  }
  .content-wrapper {
    width: 93%;
    margin: 0 0.3rem;
  }
  .greeting {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  /* home */
  .total-card__info {
    margin: 0;
  }
  .user-card {
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }
  .balance-info__block {
    width: 20%;
  }
  .card-info__block {
    padding-left: 3rem;
  }
  .form-element--value div {
    margin: 0.2rem;
  }
  .result-wrapper {
    width: 90%;
  }
  .success-result-msg {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 750px) {
  .main-content {
    margin: 0;
    width: 82%;
  }
  .user-display {
    display: flex;
    flex-direction: row;
  }
  .user-menu {
    width: 18%;
  }
  .content-space {
    width: 80%;
  }
  .user-info {
    width: 20%;
  }
  .user-menu--list {
    padding: 0 0.3rem;
  }
  .content-wrapper {
    margin: 0;
    padding: 0.5rem;
  }
  /* home */
  .create-card__box {
    align-self: center;
  }
  .card-info__block {
    padding: 0 0.3rem;
  }
  .content-space {
    margin: 0;
  }
  .sorting-box {
    width: 100%;
  }
  .transaction {
    padding: 0.3rem;
    margin: 0.3rem auto;
  }
  .form-field--wrapper {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .form-field--label {
    margin: 0;
    padding: 0;
    width: 20%;
  }
}
@media (max-width: 620px) {
  .user-menu {
    display: none;
  }
  /* hamburger menu */
  header {
    margin-bottom: 35px;
  }
  .checkbox-menu {
    position: absolute;
    display: block;
    height: 50px;
    width: 55px;
    top: 5px;
    left: 15px;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
  }
  .menu-org {
    display: none;
  }
  .menu-items {
    padding-top: 5rem;
    background: rgba(179, 174, 174, 0.92);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    align-self: center;
    transform: translate(-200%);
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  .menu-item {
    margin: 0;
    list-style-type: none;
    padding: 1.5rem;
    width: 100%;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    margin-top: -2px;
  }
  .menu-item a {
    text-decoration: none;
    font-family: var(--element-font);
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
  }

  .ham {
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 99;
  }
  .ham-bar {
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
  }
  #first-bar {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  #second-bar {
    transition: transform 0.2s ease-in-out;
  }
  #third-bar {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ #first-bar {
    transform: rotate(45deg);
  }
  input[type="checkbox"]:checked ~ #second-bar {
    transform: scaleY(0);
  }
  input[type="checkbox"]:checked ~ #third-bar {
    transform: rotate(-45deg);
  }
  div .ham-icon {
    height: 15px;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 200;
  }
}

  .main-content {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (max-width: 550px) {
  .user-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .user-info {
    width: 100%;
  }
  .content-space {
    width: 100%;
  }
  .content-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  /* home */
  .create-card__box {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .fields-wrapper--style {
    width: 100%;
  }
  .form-field--wrapper {
    margin: 0.3rem;
    padding: 0.2rem;
    justify-content: center;
  }
  .user-card {
    padding: 0.2rem 0.5rem;
  }
  .transaction {
    width: 85%;
    margin: 0.5rem;
  }
  .form-element-label {
    margin: 0.2rem;
    padding: 0.2rem;
  }
  /* savings */
  .all-savings--categories {
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  .saving-category__img {
    width: 3.5rem;
  }
  .saving-category__img:hover {
    width: 2.5rem;
  }
  .transaction {
    justify-content: space-around;
    width: 95%;
    margin: 0.2rem;
    padding: 0.1rem 0.3rem;
  }
  .main-content {
    padding: 0 0.3rem;
  }
  .form-title {
    font-size: 1rem;
  }
  .greeting {
    font-size: 1rem;
  }
  .error-field {
    font-size: 1rem;
  }
  .form-element-label {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .total-card__info {
    padding: 0;
  }
  .transactions {
    width: 90%;
    align-self: center;
  }
  .transaction {
    margin: 0.1rem 0;
  }
  .content-wrapper {
    align-items: center;
  }
  .create-card__box {
    margin: 0.5rem;
  }
  .user-cards-info {
    width: 100%;
  }
  .user-card {
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
  }
  .form-field--label {
    margin: 0;
  }

  .card-info__block {
    padding: 0;
  }
  .balance-info__block {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .balance-info__block h3 {
    margin: 0.2rem;
  }
  .balance {
    width: fit-content;
  }
  .manage-sav--btn {
    font-size: 1.1rem;
  }
  .oper-group__img {
    width: 1.2rem;
  }
}
