.content {
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  margin: 1.5rem;
}
.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5rem auto;
  padding: 0.5rem;
  /* background-color: rgba(182, 181, 179, 0.75); */
  border-radius: 25px;
  /* box-shadow: 0.3rem 0.3rem 0.6rem rgb(138, 133, 133); */
  transition: transform 2s, opacity 2s;
}
.title-adv {
  display: block;
  margin: 0.5rem auto;
  text-align: center;
}
.title-adv h2 {
  font-family: var(--header-font);
  font-size: 30px;
  color: black;
  margin: 1.5rem 0rem;
}
.title-adv p {
  font-family: var(--text-font);
  font-size: 20px;
  color: black;
  margin: 0.3rem;
  padding: 0;
}
.advantages-block {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
  padding: 0.5rem 0;
}
.advantages {
  flex: 1;
  margin: 0.5rem 0.5rem;
  background-color: white;
  border-radius: 25px;
}

.advantages h3 {
  font-family: var(--header-font);
  font-size: 20px;
  margin: 0rem 0.2rem;
  padding: 0;
  text-align: center;
}
.advantages p {
  font-family: var(--text-font);
  font-size: 15px;
  margin: 0.8rem;
  padding: 0;
}
.advantages span img {
  width: 3.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(84, 161, 21, 0.671);
  border-radius: 5px;
}
.arrow-btns {
  position: fixed;
  right: 3rem;
  bottom: 6rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.arrow-btn {
  height: 50px;
  margin: 0 0 1rem 0;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 50%;
}
.text-block {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  width: 80%;
}

.block-title {
  margin: 1rem 1.5rem;
  font-family: var(--header-font);
  font-size: 2.5rem;
}
.block-text {
  margin: 0.5rem auto;
  padding: 0.5rem 1.5rem;
  font-family: var(--text-font);
  font-size: 1.1rem;
  line-height: 22px;
}
.block-img {
  margin: 1rem;
  max-width: 30rem;
  min-width: 20rem;
}
.highlights {
  background-color: rgba(182, 181, 179, 0.75);
  box-shadow: 0.3rem 0.3rem 0.6rem rgb(138, 133, 133);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0.5rem 1.5rem;
  width: 100%;
}
.highlight {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.highlight-text {
  font-family: var(--text-font);
  font-size: 1.1rem;
}
.highlight-numbers {
  font-size: 2.5rem;
  padding: 0;
  display: inline;
  font-family: var(--text-font);
  color: var(--orange-color);
}
.block--3 h1 {
  font-size: 2.5rem;
  font-family: var(--header-font);
}
@media (max-width: 1300px) {
  .blocks {
    width: 90%;
    margin: 2rem auto;
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .blocks {
    width: 90%;
  }
  .highlights {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .highlight {
    padding: 0.8rem;
  }
  .text-block {
    flex-direction: column;
  }
  .block-title {
    font-size: 1.8rem;
    margin: 1.5rem;
  }
  .block-text {
    font-size: 1rem;
    padding: 1rem 0.2rem;
  }
  .block--3 h1 {
    font-size: 1.8rem;
  }
  .highlight-numbers {
    font-size: 1.8rem;
  }
  .highlight-text {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    padding: 0;
  }
  .title-adv h2 {
    font-size: 1.2rem;
  }
  .advantages-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.5rem 0;
    padding: 0;
  }
  .advantages {
    display: block;
  }
  .title-adv p {
    font-size: 1.2rem;
    margin: 0 auto;
  }
  .block-img {
    width: 100%;
  }
  .advantages h3 {
    display: block;
    font-size: 0.9rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .advantages span img {
    width: 2.5rem;
    padding: 0;
    margin: 0.3 auto;
  }
  .advantages p {
    line-height: 0.9rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .advantages-block {
    grid-template-columns: repeat(1, 1fr);
  }
  .advantages p {
    line-height: 1.1rem;
    font-size: 1rem;
  }
  .advantages span img {
    margin: 0.5rem 0 0 1rem;
  }
  .advantages h3 {
    font-size: 1.3rem;
  }
}
